.block-happy {
    height: 1250px;
    background-image: url('../../img/happy-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.happy__main-text {
    font-family: "Proxima Nova";
    font-size: 40px;
    font-weight: 300;
    padding-top: 90px;
}
.block-happy__text-love {
    font-family: "Good Vibes Pro Regular";
    font-size: 70px;
    color: white;
    padding-top: 75px;
    
}