@font-face {
    font-family: "Proxima Nova - Black";
    src: url('/../fonts/ProximaNova-Black.eot') format('eot'),
      url('../fonts/ProximaNova-Black.woff') format('woff'),
      url('../fonts/ProximaNova-Black.ttf') format('truetype');
  }
@font-face {
font-family: "Proxima Nova";
src: url('../fonts/ProximaNova-Regular.eot') format('eot'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
font-family: "Good Vibes Pro Regular";
src:  url('../fonts/GoodVibesProRegular.ttf') format('truetype');
}


$active-color: #3caee0;
$hover-color: #51caff;
$text-color: white;




body, ul, li, p, h1, h2, h3, h4, h5, h6, header, footer, main {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    border: none;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Open Sans';
}
input,textarea {
    outline-color: Blue;
}
a {
color: #000000;

font-weight: 400;
line-height: 30px;
text-decoration: none;
text-transform: uppercase;
}
 
.button2 {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 37px;
    font-size: 18px;
    color: #fefefe;
    background: #211f20;
    height: 60px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        -webkit-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.11);
        box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.11);
        background-color: #2d88af;
        -moz-background-color: #2d88af;
        -moz-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
    }
    &:active {
        -moz-background-color: $active-color;
        background-color: $active-color;
    }
}
.block {
    width: 100%;
}
.block__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}
.headline-block__secondary-text {
    font-size: 20px;
    font-weight: lighter;
}
.text-h2 {
    font-size: 40px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: $text-color;
}
.text-h3 {
    font-size: 29px;
    font-family: "Proxima Nova";
    color: #000000;
}